#app {
  max-width: 960px;
  background-color: lightgrey;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 100px;
}

.header > ul {
  display: flex;
  justify-content: space-around;
}

.header > ul > li {
  list-style-type: none;
  padding: 10px;
}
.restarant {
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.restarant img {
  width: 100%;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}
